#queues {
    width: 1201px;
    margin: 0 auto;
}

.queue-column {
    float: left;
    width: 100px;
}

.queue-container, .times-container {
    position: relative;
}

.team-in-queue {
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    margin: 0 auto;
    width: 100px;
    border: 1px solid #D6D6D6; /*#ffeb8e;*/
    border-top: none;
    background-color: f8f8f8;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto Mono", Monaco, courier, monospace;
    font-size: 0.8em;
    color: #34495e;
}

.queue-header {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto Mono", Monaco, courier, monospace;
    font-size: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid gray;
}

.queue-header, .times-header {
    height: 55px;
}

.queue-header-container {
    position: relative;
    top: 7px;
}

.queue-header.correcting {
    background-color: #acffac;
}

.queue-header.calling {
    background-color: #ffff90;
}

.queue-header.idle {
    background-color: #D0D0D0;
}

#schedule-times {
/*
    background-color: black;
*/
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding-left: 40px;
}

.time-in-schedule {
    position: absolute;
    width: 100%;
    border-top: 1px dashed #004bff80;
}
