body {
    padding-top: 5px!important;
}

#main-container {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;'
}

#queues {
    width: 1201px;
    margin: 0 auto;
    padding-left: 70px;
}

#schedule-times {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.queue-column {
    float: left;
    width: 100px;
}

.queue-container, .times-container {
    position: relative;
}

.team-container {
    width: 100px;
    position: absolute;
    text-align: center;
}

.team-in-queue {
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
/*
    position: absolute;
*/
    margin: 0 auto;
    width: 90%;
    height: 100%;
    border: 1px solid #5E5B5B;
    /*border: 1px solid #D6D6D6; /*#ffeb8e;*/
    /*border-top: none;*/
    background-color: f8f8f8;
    /*font-weight: bold;*/
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    border-radius: 2px;
/*
    color: #34495e;
*/
}

.queue-header {
    width: 100%;
    color: #5F5C5C; /*#34495e;*/
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
/*
    font-family: "Roboto Mono", Monaco, courier, monospace;
*/
    font-size: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid gray;
}

.queue-header {
    height: 55px;
}
.times-header {
    height: 91px; /* queue-header(height) + problem-name(height) + problem-name(margin)*/
}

.queue-header-container {
    position: relative;
    top: 7px;
}

.queue-header.correcting {
    background-color: #97F497;
}

@-webkit-keyframes blinker {
  from {background-color: #FFDE3B;}
  to {background-color: #FFFB93;}
}

.queue-header.calling, .team-calling>.team-in-queue {
    background-color: #FFDE3B;
    text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}

.queue-header.idle {
    background-color: #DDDADA;
}

.time-in-schedule {
    position: absolute;
    width: 101%;
    border-top: 1px dashed #F2241D;
}

.problem-name {
    float: left;
    text-align: center;
    height: 30px;
    
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: bold;
    color: #4b4b9e;
    border-bottom: 5px solid #8585ff;
    margin: 3px;
}
