/*
 * General
 */
.hidden {
    display: none;
}

h2 {
    font-weight: normal;
}

/*
 * Header with the information of the table and the status
 */
#header {
    height: 150px;
    vertical-align: middle;
}

#table-info {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px 10px;
}

.status {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-size: 70px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 1px solid black;
    padding: 30px 10px;
}

/*
 * Main div with the information of the situation
 */
#content {
    font-size: 20px;
}

#situation {
    height: 350px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 40px 40px;
}

/*
 * Bottom of the page, with the actions
 */
#actions {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
}

/*
#actions>.calling .principal_actions {
    color: blue;
    position: relative;
    float: left;
    width: 85%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*/

#actions .secondary_actions {
    font-size: 15px;
/*
    position: relative;
    float: right;
    width: 15%;
    height: 100%;
    text-align: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
*/
}

#actions .secondary_actions input[type=button], #actions .secondary_actions input[type=text]{
    width: 150px;
    height: 40px;
    font-size: 15px;
}


#actions>.correcting {
    text-align: center;
/*
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 100px;*/
}

#actions>.idle {
    text-align: center;
}

/*
 * Customization of the different statuses
 */
#header>.correcting {
    color: #008000;
}
#current_coordination_team {
    text-align: center;
    font-size: 220px;
}

#current_coordination_start_time {
    text-align: center;
}


#header>.calling {
    color: #FFA500;
}
#current_calling_team {
    color: #FFA500;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #FFA500;
}

#header>.idle {
    color: #696969;
}

/*
 * Inputs style
 */
input[type=text]{
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    display: inline-block;
    border: 1px solid;
    box-sizing: border-box;
}

input[type=button] {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #e7e7e7;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
}
