<head>
    <meta charset='utf-8'>
    <title>Coordination Queues</title>
    <script src='https://unpkg.com/vue@2.5.16/dist/vue.js'></script>
    <script src='https://unpkg.com/axios@0.18.0/dist/axios.js'></script>
    <script src='{{url_for("static", filename="queues.js")}}' defer></script>
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="queues.css")}}'>
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="global.css")}}'>
</head>
<body>
    <div id='main-container'>
    <div id='schedule-times'>
        <div class='times-header'></div>
        <div class='times-container'>
            <div v-for='time in times()'
                 class='time-in-schedule'
                 :style='"top: " + [[ time.height ]] + "px;"'>
                [[ time.human_time ]]
            </div>
        </div>
    </div>
    <div id='queues'>
        <div v-for='table in tables' class='queue-column' :key="table.name">
            <queue-header v-bind:table='table'></queue-header>
            <div class='queue-container'>
                <team-in-queue v-for='team in table.queue' v-bind:team='team'
                               v-bind:expected_duration='table.expected_duration'
                               v-bind:start_time='start_time[table.name][team]'>
                </team-in-queue>
            </div>
        </div>
    </div>
</body>
