<head>
    <meta charset='utf-8'>
    <title>Coordination Queues</title>
    <script type='text/javascript'
            src='https://unpkg.com/vue@2.5.16/dist/vue.js'></script>
    <script type='text/javascript'
            src='https://unpkg.com/axios@0.18.0/dist/axios.js'></script>
    <script type='text/javascript'
            src='{{url_for("static", filename="application_root.js")}}'></script>
    <script type='text/javascript'
            src='{{url_for("static", filename="queues.js")}}' defer></script>
    <script type='text/javascript'>
        const START_TIME = JSON.parse('{{ START_TIME }}');
        const BREAK_TIMES = JSON.parse('{{ BREAK_TIMES }}');
    </script>
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="queues.css")}}'>
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="global.css")}}'>
</head>
<body>
    <div id='main-container'>
    <div id='schedule-times'>
        <div class='times-header'></div>
        <div class='times-container'>
            <div v-for='time in times()'
                 class='time-in-schedule'
                 :style='"top: " + [[ time.height ]] + "px;"'>
                [[ time.human_time ]]
            </div>
        </div>
    </div>
    <div id='queues'>
        <div v-for='problem in problems' class='problem-name' :style='"width: " + problem.width + ";"'>Problem [[ problem.name ]]</div>
        <div v-for='table in tables' class='queue-column' :key="table.name">
            <queue-header v-bind:table='table'></queue-header>
            <div class='queue-container'>
                <team-in-queue v-for='(team, index) in table.queue' v-bind:team='team'
                               :class='[table.status==0 && index==0 ? "team-calling" : ""]'
                               v-bind:expected_duration='table.expected_duration'
                               v-bind:start_time='start_time[table.name][team]'
                               v-bind:now='now'>
                </team-in-queue>
            </div>
        </div>
    </div>
</body>
