<head>
    <meta charset="utf-8">
    <title>Schedule Admin Page</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
    <link rel='stylesheet' type='text/css' href='{{url_for("static", filename="global.css")}}'>
</head>
<body>
    <div id='header'>
        <h1>Schedule Admin</h1>
    </div>
    <div id='content'>
        <div v-for='(table, index) in tables'>
            <span>[[ table.name ]]:</span> <span v-for='(team, index) in table.queue'>
                <span class='team'>[[ team ]]</span><span v-if='index+1 < table.queue.length'>, </span>
            </span>
        </div>
        <div>
            <h2>Add to queue</h2>
            <form>
                Table: <input type='text' v-model='add_selected_table'>
                Team: <input type='text' v-model='add_selected_team'>
                Position: <input type='number' v-model='add_position'>
                <input type='button' v-on:click='add_to_queue' value='Add to queue'>
            </form>
        </div>
        <div>
            <h2>Remove from queue</h2>
            <form>
                Table: <input type='text' v-model='remove_selected_table'>
                Team: <input type='text' v-model='remove_selected_team'>
                <input type='button' v-on:click='remove_from_queue' value='Remove from queue'>
            </form>
        </div>
        <div>
            <h2>Swap teams in queue</h2>
            <form>
                Table: <input type='text' v-model='swap_selected_table'>
                Team 1: <input type='text' v-model='swap_selected_team1'>
                Team 2: <input type='text' v-model='swap_selected_team2'>
                <input type='button' v-on:click='swap_teams_in_queue' value='Swap teams in queue'>
            </form>
        </div>
    </div>
    <script>
        const table_name = '{{ table_name }}';
    </script>
    <script src='{{url_for("static", filename="schedule_admin.js")}}'></script>
</body>
